fastapi==0.115.12
uvicorn[standard]==0.34.0
python-jose[cryptography]==3.4.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
sentence-transformers==3.4.1
numpy==2.2.4
torch==2.6.0
transformers==4.50.3
python-multipart==0.0.20
edge-tts==7.0.0
